<nav class="projects-nav navbar navbar-default visible-xs-block">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#target" aria-expanded="false">
                <span class="sr-only">asdf</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" data-toggle="collapse" data-target="#target">Projects</a>
        </div>
        <div class="collapse navbar-collapse" id="target">
            <ul class="nav navbar-nav">
                <li><a routerLink="/projects/klikit">Klikit</a>
                </li>
                <li><a routerLink="/projects/the-directory">The Directory</a>
                </li>
                <!--<li><a routerLink="/projects/todo">To Do List</a></li>-->
                <li><a routerLink="/projects/road-quiz">Soybean Road Safety Quiz</a>
                </li>
                <li><a routerLink="/projects/sa"> Sigma Alpha Test Site</a>
                </li>
                <!-- <li><a routerLink="/projects/helpdesk">HelpDesk Utilities</a></li>
                <li><a routerLink="/projects/breakout">Break-Out</a></li>-->
            </ul>
        </div>
    </div>
</nav>
<div class="col-xs-4 hidden-xs" id="projects-nav">
    <ul>
        <li><a routerLink="/projects/klikit">Klikit</a>
        </li>
        <li><a routerLink="/projects/the-directory">The Directory</a>
        </li>
        <!--<li><a routerLink="/projects/todo">To Do List</a></li>-->
        <li><a routerLink="/projects/road-quiz">Soybean Road Safety Quiz</a>
        </li>
        <li><a routerLink="/projects/sa"> Sigma Alpha Test Site</a>
        </li>
        <!--<li><a routerLink="/projects/memeGen">Meme Generator</a>
        </li>
       <li><a routerLink="/projects/helpdesk">HelpDesk Utilities</a></li>
       <li><a routerLink="/projects/breakout">Break-Out</a></li>-->
    </ul>
</div>