<!-- Carousel -->
<div id="carousel" class="col-sm-12" >
    <div class="carousel-inner firefox-width-fix" role="listbox">
        <div class="item active">
            <img class="center" src="_imgs/orange-leaves.jpg" alt="Blue stars of mountain">
        </div>
    </div>
</div>

<!-- Bottom Container -->
<div class="col-md-8 col-xs-12" id="bottom_container">
    <h1>Welcome</h1>
    <p>This is The Directory for utilities, resources, and projects. If you are looking for for helpful texts or documentations consider look at the <a href="/resources">resources</a>. If you are needing particular software such as anti-virus or on line web apps consider going to the <a href="/utilities">utilities</a>.If you would like to see some of the work I've down or on going work you will want to visit the <a href="/projects">projects</a> area.</p>

</div>
<!--<div ng-include src="'_includes/main-right-projects.html'"></div>-->
<!-- <div class="clearfix" ng-include src="'_includes/comment_section.html'"></div>-->